{#
/**
 * @file
 * Default theme implementation to display a region.
 *
 * Available variables:
 * - content: The content for this region, typically blocks.
 * - attributes: HTML attributes for the region <div>.
 * - region: The name of the region variable as defined in the theme's
 *   .info.yml file.
 *
 * @see template_preprocess_region()
 *
 * @ingroup themeable
 */
#}
{% if content %}
    <div {{ attributes }} class="top-footer">
        <div class="footer-width">
            <div>
                <img src="{{ theme_get_setting('logo.url') }}">
                <p>{{ theme_get_setting('adresse') }}</p>{#TODO#}
                <label class="tel">{{ theme_get_setting('tel') }}</label>
                <label class="send">{{ theme_get_setting('email') }}</label>
            </div>
            {{ content }}
        </div>
    </div>
{% endif %}